In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Load file, add datetime column and resample to 1H frequency

In [49]:
demand = pd.read_csv('Total Load - Day Ahead _ Actual_201901010000-202001010000-2.csv', keep_default_na=True)
demand['datetime'] = pd.date_range(start='2019-01-01 00:00:00', end='2020-01-01 00:45:00', freq='15min')
demand = demand[['datetime', 'Actual Total Load [MW] - Germany (DE)']].set_index('datetime')
demand = demand.resample('H').mean()
demand = demand[:-1]
demand

                     Actual Total Load [MW] - Germany (DE)
datetime
2019-01-01 00:00:00                               43012.75
2019-01-01 01:00:00                               41460.75
2019-01-01 02:00:00                               39921.75
2019-01-01 03:00:00                               39099.50
2019-01-01 04:00:00                               38886.25
...                                                    ...
2019-12-31 19:00:00                               54203.75
2019-12-31 20:00:00                               51567.50
2019-12-31 21:00:00                               48591.50
2019-12-31 22:00:00                               46884.00
2019-12-31 23:00:00                               46440.00

[8760 rows x 1 columns]

## Add hour column, save file in tsv format

In [51]:
demand['hour'] = np.arange(1,8761)
demand['hour'] = 'h' + demand['hour'].astype(str)
demand = demand[['hour', 'Actual Total Load [MW] - Germany (DE)']]
demand.to_csv('Germany_demand_2019.tsv',sep='\t', header=False, index=False)

In [58]:
cf = pd.read_csv('ninja_wind_country_DE_current-merra-2_corrected.csv', header=2)
cf

                       time  national  offshore  onshore
0       1980-01-01 00:00:00    0.2584    0.3169   0.2515
1       1980-01-01 01:00:00    0.2579    0.3242   0.2501
2       1980-01-01 02:00:00    0.2446    0.3307   0.2344
3       1980-01-01 03:00:00    0.2362    0.3488   0.2230
4       1980-01-01 04:00:00    0.2346    0.3779   0.2178
...                     ...       ...       ...      ...
350635  2019-12-31 19:00:00    0.1071    0.0627   0.1123
350636  2019-12-31 20:00:00    0.0889    0.0493   0.0935
350637  2019-12-31 21:00:00    0.0774    0.0437   0.0813
350638  2019-12-31 22:00:00    0.0680    0.0495   0.0701
350639  2019-12-31 23:00:00    0.0640    0.0678   0.0636

[350640 rows x 4 columns]