In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Load demand file, add datetime column, resample to 1H frequency and convert to GAMS format

In [74]:
demand = pd.read_csv('Total Load - Day Ahead _ Actual_201901010000-202001010000-2.csv', keep_default_na=True)
demand['datetime'] = pd.date_range(start='2019-01-01 00:00:00', end='2020-01-01 00:45:00', freq='15min')
demand = demand[['datetime', 'Actual Total Load [MW] - Germany (DE)']].set_index('datetime')
demand = demand.resample('H').mean()
demand = demand[:-1]
demand['hour'] = np.arange(1,8761)
demand['hour'] = 'h' + demand['hour'].astype(str)
demand = demand[['hour', 'Actual Total Load [MW] - Germany (DE)']]
demand

                      hour  Actual Total Load [MW] - Germany (DE)
datetime
2019-01-01 00:00:00     h1                               43012.75
2019-01-01 01:00:00     h2                               41460.75
2019-01-01 02:00:00     h3                               39921.75
2019-01-01 03:00:00     h4                               39099.50
2019-01-01 04:00:00     h5                               38886.25
...                    ...                                    ...
2019-12-31 19:00:00  h8756                               54203.75
2019-12-31 20:00:00  h8757                               51567.50
2019-12-31 21:00:00  h8758                               48591.50
2019-12-31 22:00:00  h8759                               46884.00
2019-12-31 23:00:00  h8760                               46440.00

[8760 rows x 2 columns]

### Save file in tsv format

In [64]:
demand.to_csv('Germany_demand_2019.tsv',sep='\t', header=False, index=False)

## Load Wind capacity factor file and parse dates, filter 2019 values, convert to GAMS format

In [82]:
cap_factors = pd.read_csv('ninja_wind_country_DE_current-merra-2_corrected.csv', header=2, parse_dates=['time'])
filt = (cap_factors['time'] >= '2019')
cap_factors = cap_factors.loc[filt].reset_index()
cap_factors['newind'] = cap_factors.index + 1
cap_factors['hour'] = 'h' + cap_factors['newind'].astype(str) + '.wind'
cap_factors = cap_factors[['hour', 'national']]
cap_factors

            hour  national
0        h1.wind    0.4643
1        h2.wind    0.5103
2        h3.wind    0.5599
3        h4.wind    0.5934
4        h5.wind    0.6385
...          ...       ...
8755  h8756.wind    0.1071
8756  h8757.wind    0.0889
8757  h8758.wind    0.0774
8758  h8759.wind    0.0680
8759  h8760.wind    0.0640

[8760 rows x 2 columns]

In [83]:
cap_factors.to_csv('wind_cf_2019.tsv', sep='\t', header=False,index=False)

### Same procedure for solar pv capacity factors

In [80]:
cap_factors = pd.read_csv('ninja_pv_country_DE_merra-2_corrected.csv', header=2, parse_dates=['time'])
filt = (cap_factors['time'] >= '2019')
cap_factors = cap_factors.loc[filt].reset_index()
cap_factors['newind'] = cap_factors.index + 1
cap_factors['hour'] = 'h' + cap_factors['newind'].astype(str) + '.pv'
cap_factors = cap_factors[['hour', 'national']]
cap_factors

          hour  national
0        h1.pv       0.0
1        h2.pv       0.0
2        h3.pv       0.0
3        h4.pv       0.0
4        h5.pv       0.0
...        ...       ...
8755  h8756.pv       0.0
8756  h8757.pv       0.0
8757  h8758.pv       0.0
8758  h8759.pv       0.0
8759  h8760.pv       0.0

[8760 rows x 2 columns]

In [81]:
cap_factors.to_csv('solarpv_cf_2019.tsv', sep='\t', header=False,index=False)